* {
    margin:0;
    padding: 0
    }
body{
     font-family: 'Poppins', sans-serif;
}
.banner {
    background-image: url(images/donation13.jpg);
    background-size: cover;
    height: 90vh;   
    
}
.banner-heading{
    text-align: center;
    color: white;
    padding-top: 250px;
    font-size: 60px;
}
.banner-p{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 104%;
}
 .banner .button{
   text-align: center;
   text-decoration: none;
   background-color: #FF5959;
   padding: 16px 12px;
   color: white;
   width: 160px;
   margin-left: 850px;
   
   
}

.donate-money-heading{
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    font-style: bold;
    line-height: 54px;
    padding-top: 130px;
}
.donate-money-p{
    text-align: center;
    font-weight: 400;
    padding-top: 30px;
}

.flexible-container {
    display: flex;
    padding-top: 93px;
    padding-bottom: 90px;

    
}
.flexible-container h1{
    margin-left: 220px;
    border: 1px solid;
    padding: 20px;
}
.selected-money{
    background-color: #FFEEEE;
}

input {
    padding: 30px;
    width: 200px;
    text-align: center;
    margin-left: 800px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    }

input, input::placeholder {
    font-size: 20px ;
    
}
  hr {
        border:none;
        border-top:3px solid #DADADA;
        color:#fff;
        background-color:#fff;
        height:1px;
        width:50%;
        margin-left: 460px;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
.money-button{
    text-align: center;
   text-decoration: none;
   background-color: #FF5959;
   padding: 26px 22px;
   color: white;
   width: 160px;
   font-size: 20px;
   margin-left: 850px;
}

.donate-plan-heading{
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    font-style: bold;
    line-height: 54px;
    padding-top: 130px;
}
.donate-plan-p{
    text-align: center;
    padding-top: 30px;
}

.plan-area{
    display: flex;
    width: 50%;
    gap: 30px;
    padding-right: 150px;
    margin-left: 500px;
    padding-top: 50px;
    
}
.food{
    box-sizing: border-box;
    width: 500px;
    background-color: #4F9DA61A;
    border-radius: 10px;
    padding: 60px;
}
.shelter{
        box-sizing: border-box;
        width: 500px;
        background-color: #FF59591A;
        border-radius: 10px;
        padding: 60px;
    }
.education{
    box-sizing: border-box;
    width: 500px;
    background-color: #FFF4D6;
    border-radius: 10px;
    padding: 60px;
}

/* Extra area */
.extra-areaheading{
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    font-style: bold;
    line-height: 54px;
    padding-top: 130px;
}
.how-it-works{
    display: flex;
    width: 50%;
    gap: 30px;
    padding-right: 150px;
    margin-left: 500px;
    padding-top: 50px;
}
.non-profit{
    box-sizing: border-box;
    width: 500px;
    background-color: #0de9681a;
    border-radius: 10px;
    padding: 60px;
}
.donor{
    box-sizing: border-box;
    width: 500px;
    background-color: #df3535f6;
    border-radius: 10px;
    padding: 60px;
}
.companies{
    box-sizing: border-box;
    width: 500px;
    background-color: #5208ff1a;
    border-radius: 10px;
    padding: 60px;
}
.how-it-works h4{
    color: rgb(204, 125, 22);
}

/* newsletter area */
.newsletter-heading{
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    font-style: bold;
    line-height: 54px;
    padding-top: 130px;
}
.newsletter-p{
    text-align: center;
    padding-top: 30px;
}
.subscription{
    background-color: #5208ff1a;
    padding-bottom: 50px;
    display: flex;
    background-position: center;
    width: 100%;
}
.email{
   color: #D9D9D9;
  padding: 10px;
  margin-left: 20px;
}
.sub-button{
    text-align: center;
    text-decoration: none;
    background-color: #fc6666;
    padding:  12px;
    color: white;
    width:200px;
 height:20px;
 margin-top: 20px;
}

/* footer */
footer{
    text-align: center;
    background-color: black;
    color: #FF5959;
    margin-top: 50px;
   
}